/**
 * Main
 */

.main {
  width: min(100%, 768px);
  min-height: calc(100vh - 18rem);
  margin: 0 auto;
  padding: 0 clamp(0.75rem, 2%, 1.5rem);

  &__title {
    &::after {
      content: "✶";
      color: themeColor("secondary");
      font-size: 1.25em;
      margin-left: space(1);
    }

    & > span {
      font-family: "Cormorant Garamond", serif;
    }
  }

  p {
    margin: space(4) 0;
  }
  
  strong, em {
    font-weight: 600;
    font-style: normal;
    color: themeColor("darker");
    background-color: rgba(themeColor("secondary"), 0.15);
    padding: 0 0.2em;
    border-radius: 0.2em;
  }
}
